* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.highlight {
    background-color: #000;
}

body {
    background-color: #F5F0FF;
}

header {
    padding: 10px;

    nav {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            align-items: center;
            gap: 50px;

            a {
                color: #ff52ae;
                transition: all 0.3s;

                &:hover {
                    color: #ff0000;
                }
            }
        }
    }
}



.yoga__project {
    padding: 48px 0px 48px 0px;


    .yoga__wrapper {
        display: flex;
        justify-content: space-between;

        .yoga__left {

            h1 {
                font-size: 96px;
                max-width: 590px;
                margin-top: 40px;

                span {
                    color: #ff52ae;
                }
            }

            p {
                font-size: 16px;
                font-weight: 400;
                max-width: 380px;
                color: #606060;
                margin-top: 20px;
            }

            button {
                padding: 16px 38px 16px 38px;
                border: none;
                background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,223,1) 100%, rgba(252,176,69,1) 100%);
                color: #ffffff;
                border-radius: 64px;
                margin-top: 30px;
            }

            h2 {
                font-size: 56px;
                font-weight: 300;
                margin-top: 30px;
            }

            .price {
                display: flex;
                gap: 70px;
                margin-top: 30px;
            }
        }

        .yoga__right {
            img {
                width: 500px;
            }
        }
    }
}



.yoga__section {
    padding: 48px 0px 48px 0px;

    .yoga-section__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 56px;
            font-weight: 400;
        }
    }
}


.yoga__section2 {
    padding: 48px 0px 48px 0px;

    .yoga-wrapper__control {
        display: flex;
        gap: 50px;

        .yoga-wrapper_right {
            h1 {
                font-size: 64px;
                font-weight: 400;
                max-width: 590px;
                margin-top: 120px;
            }

            p {
                max-width: 500px;
                font-size: 16px;
                font-weight: 300;
                margin-top: 50px;
            }

            button {
                padding: 16px 38px 16px 38px;
                border: none;
                background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,223,1) 100%, rgba(252,176,69,1) 100%);
                color: #ffffff;
                border-radius: 64px;
                margin-top: 40px;
            }
        }
    }
}


.yoga__section3{
    padding: 48px 0px 48px 0px;

    .yoga-wrapper_section{
        display: flex;
        justify-content: space-between;
        .section3__left{
            h1{
                max-width: 390px;
                font-size: 64px;
                font-weight: 300;
                margin-top: 100px;
            }

            p{
                max-width: 390px;
                font-size: 16px;
                font-weight: 300;
                color: #6d6d6d;
                margin-top: 30px;
            }

            button{
                padding: 16px 38px 16px 38px;
                border: none;
                background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,223,1) 100%, rgba(252,176,69,1) 100%);
                color: #ffffff;
                border-radius: 64px;
                margin-top: 40px;
            }
        }
    }
}



.yoga__section4{
    padding: 48px 0px 48px 0px;

    .section4__wrapper{
        display: flex;
        justify-content: space-between;

        h1{
            max-width: 400px;
            font-size: 64px;
            font-weight: 300;
            text-align: center;
            margin-top: 120px;

            span{
                color: #ff52ae;
            }
        }

        button{
            display: flex;
            justify-content: center;
            background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,223,1) 100%, rgba(252,176,69,1) 100%);
            margin-left: 150px;
            margin-top: 70px;
           padding: 30px 30px 30px 30px;
           border: none;
           border-radius: 50%;
           color: #fff;
           cursor: pointer;
           
        }
    }

    .wrapper__section{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
}



.yoga__section5{

    padding: 48px 0px 48px 0px;

    .section5__wrapper{
        width: 1200px;
        height: 374px;
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,223,1) 100%, rgba(252,176,69,1) 100%);
        border-radius: 40px;
        margin-top: 30px;

        h1{
            color: #fff;
            font-size: 56px;
            font-weight: 300;
            display: flex;
            justify-content: center;
            padding-top: 80px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 10px;
            color: #dfdfdf;
            
        }

        .banner{
            max-width: 528px;
            height: 72px;
            background-color: #ffffff;
            margin-top: 40px;
            margin-left: 335px;
            border-radius: 40px;
            display: flex;
           
             input{
                margin-left: 40px;
                margin-top: 25px;
                border: none;
             }

             button{
                width: 150px;
                height: 50px;
                border: none;
                background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,223,1) 100%, rgba(252,176,69,1) 100%);
                color: #ffffff;
                border-radius: 30px;
                margin-top: 10px;
                margin-left: 190px;
                
             }
        }
    }
}